html * {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}
#menubv {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 180px;
    padding: 0;
    margin: 0px;
    
    height: 1200px;
    background: #e2e2e2 url(../images/menu-bg.png) right repeat-y ;
}
#menubv ul {
    list-style: none;
    margin: 0;
    padding-right: 5px;
    padding-left: 0px;
}
#menubv li {
    border-bottom:   1px solid #e2e2e2;
    border-top: 1px solid #ccc;
    margin: 0;
}
#menubv li a {
    background-color: transparent;
    display: block;
    padding: 10px;
    font-weight:bold;
    border-top: solid 1px #eee;
    color: #047;
    text-decoration: none;
}
#menubv li a:hover {
    border-top: solid 1px #eee;
    background-color: #fff;
    color: #666;
}

/* Fix IE. Hide from IE Mac \*/
* html ul#menubv  li { float: left; height: 1%; }
* html ul#menubv  li a { height: 1%; }
/* End */


/* GENERAL */

#menuTop li{
    list-style: none;
    padding: 2px;
    margin: 2px;
}

#menuTop a {
    color:#222222;
    font-weight: normal;
    background: #eee;

}
#menuTop a:hover {
    background: #fff;
}

#top {
    margin: 0px;
    padding:0px;
    background-color: #a5a5a5;
    color: #fff;
    height: 60px;
    border-bottom: solid 2px #ccc;
}

#top h2 {
    color: #fff;
}
#top h1 {
    padding: 15px;
    color: #fff;
    margin: 0px;
    font-size: larger;
    font-weight: bold;
}


#loginHeader {
    padding: 10px;
}

#container {
    height: 100%;
}

#content {
    padding: 0px;
    color:#222;
    margin-left: 180px;
}

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #000;
    /*font: 11px verdana, arial, helvetica, sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}
#grailsLogo {
    padding:20px;
}

a:link, a:visited, a:hover {
    color: #606060;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

h2 {
    color: #802c48;
    font-weight: normal;
    font-size: 14px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input.search {
    margin: 0px;
    padding:5px 5px 5px 25px;
    border: solid 1px;
    border-color: #ccc #999 #999 #ccc;
    height: 26px;
    width: 180px;
    vertical-align:  middle;
    background: #fff url(../images/search.png) left no-repeat ;
}

input, select, textarea {

    border: solid 1px;
    border-color: #ccc #999 #999 #ccc;
    height: 22px;
    vertical-align:  middle;
    background-color: #fcfcfc;
    margin: 2px 0;
    padding: 2px 4px;
    font-size: 11px;
}
select {
    padding: 2px 2px 2px 0;
}
textarea {
    width: 100%;
    resize: none;
    height: 50px;
    vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
    padding: 5px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid solid solid none;
    padding: 7px 12px;

}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.rel {
    background: url(../images/skin/pie.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.moeda {
    background: url(../images/skin/pay.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.top {
    color: #333;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    /*    width: 100%*/
}
tr {
    border: 0;
}
td, th {
    /*font: 11px verdana, arial, helvetica, sans-serif;*/
    font-size: 12px;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    /*    background: #fff url(../images/skin/shadow.jpg);*/
    background: #e2e5e7;
    color: #665b66;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 5px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #665b66;
    display: block;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.selected {
    background: #e7e7e7;
}

.odd {
    background: #f2f5f7;
}
.even {
    background: #f2f5f7;
}

/* LIST */

.list table {
    border-collapse: collapse;
    width: auto;
}
.list th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    /*    white-space: nowrap;*/
}
.list td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #362b36;
    /*    white-space: nowrap;*/
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    /*    background: #fff  url(../images/skin/shadow.jpg) bottom repeat-x;*/
    background: #ddd;
    border: 1px solid #ccc;
    border-top: 0;
    color: #333;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #333;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
    width: auto;
    border-spacing: 0px;
    background: #fff;
}

.prop {
    padding: 1px;
    border-spacing: 0px;
}
.prop .name {
    /*    width: 10px;*/
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: baseline;
    border-bottom: inset 1px #eee;
    margin: 0px;
    border-spacing: 0px;
}
.prop .value {
    /*    width: 90%;*/

    text-align: left;
    padding-right: 30px;
    vertical-align: baseline;
    border-bottom: inset 1px #eee;
    border-spacing: 0px;

}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #333;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input  {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.tbuttons .pag {
    background: transparent url(../images/skin/check.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.tbuttons .pag-d {
    background: transparent url(../images/skin/checkd.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.tbuttons .print {
    background: transparent url(../images/skin/print.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons .edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

table.lista th {
    vertical-align: middle;
    text-align: center;
}

.link-disabled{
    font-weight: bold;
    color: #999;
}

.label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    padding: 2px 3px;
    font-size: 11.844px;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
}

.tlogo{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;  
    font-size: 18px;
}

.greenlabel {
    background-color: rgb(70, 136, 71);
    color: #FFF;
}
.redlabel{
    background-color: rgb(185, 74, 72);
    color: #FFF;
}
.infolabel{
    background-color: rgb(58, 135, 173);
    color: #FFF;
}

.obs-text {
    font-size: 14px;
}

.cancelado {
    text-decoration: line-through;    
    color: #AAA;
}

.linkn a {
    font-weight:normal;
    text-decoration: none;
    color: #33c;
}

.linkn a:hover {
    text-decoration: underline;
}


